html{
  scroll-behavior: smooth;
}

body{
    font-family: "Rubik";
    font-optical-sizing: auto; 
    width: 2160p;
    background-image: linear-gradient( 91.3deg,  rgba(135,174,220,1) 1.5%, rgba(255,255,255,1) 100.3% );
  }

@-webkit-keyframes bg-pan-left{0%{background-position:100% 50%}100%{background-position:0 50%}}@keyframes bg-pan-left{0%{background-position:100% 50%}100%{background-position:0 50%}}


.slide-top {

	animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  @keyframes slide-top{
    0% {
      transform: translateY(500px);
    }
    100% {
      transform: translateY(0px);
    }
  }

#home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}
#logo{
    width: 80px;
    height: 80px;
    position: relative;
    left: 40px;
    display: flex;  
}

.rotate-scale-down-ver{-webkit-animation:rotate-scale-down-ver 2s linear 2s 2 both; animation:rotate-scale-down-ver 2s linear 2s 2 both}
 @-webkit-keyframes rotate-scale-down-ver{0%{-webkit-transform:scale(1) rotateY(0);transform:scale(1) rotateY(0)}50%{-webkit-transform:scale(.5) rotateY(180deg);transform:scale(.5) rotateY(180deg)}100%{-webkit-transform:scale(1) rotateY(360deg);transform:scale(1) rotateY(360deg)}}@keyframes rotate-scale-down-ver{0%{-webkit-transform:scale(1) rotateY(0);transform:scale(1) rotateY(0)}50%{-webkit-transform:scale(.5) rotateY(180deg);transform:scale(.5) rotateY(180deg)}100%{-webkit-transform:scale(1) rotateY(360deg);transform:scale(1) rotateY(360deg)}}

 #sticky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0px;
  color: rgb(0, 0, 0);
  background: transparent !important;
  z-index: 5;
  font-weight: 600;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    width:80vh;
    justify-content: space-evenly;
    font-size: 2vh;
    letter-spacing: 0.2rem;
 }
 
 #menu a{
    color: rgb(0, 0, 0);
    position: relative;
    top: 10px;
 }
 
 a{
    text-decoration: none !important;
    transition: ease-in-out 100ms;
 
 }
 
 nav{
    width:auto;
    z-index: 3;
   
 }
 
 .navh{
      padding: 2px;
 }
 .navh:hover{
       transform: 100ms;
       background-color: rgba(112, 149, 188, 0.736) !important;
       color: rgb(255, 255, 255) !important;
       border-radius: 3px;
       transform: scale(1.3);
 }

 #intro{
    display: flex;
    height: 700px;
    justify-content: left;
    position: relative;
}

#details{
   display: flex;
   line-height: 1.9;
   height: 450px;
   position: relative;
   align-items: center;
}

#myintro{
    position: relative;
    
}

#profileimageintro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}

.myimg{
width:250px;
height: 350px;
position: relative;
top: -50;
border-radius: 10px;
border: 5px rgba(0, 0, 0, 0.279) solid;
}

.myimg:hover{
transform: scale(1.2);
border-radius: 0%;
}

.icgrp{
    display: flex;
    justify-content: start;
}

.icon-100 { 
  font-size: 1rem; color: rgb(10, 10, 54);
  margin-right: 10%;
  padding: 6px 9px 6px 9px;
  transition:  100ms;
  border: 3px solid rgb(10, 10, 102);
  border-radius: 100%;

}

.icon-100:hover{
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.63);
  color: white;
  transition: ease-in-out ;
  transform: scale(3) !important;

}

.stick{
    display: flex;
    width: 70% !important;
    justify-content: space-between;
    position: relative;
    top: 50px;
}

#name1{
  font-size: 28px;
}
#name2{
  font-size: 50px;
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #090051e8;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  } }





.tracking-in-contract-bck{-webkit-animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
.n3{
  position: relative;
  top: 15px;
}

.iam{
  color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: sans-serif;
}
.text{
  color: white;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(255, 30, 0);
}


.dtbuttongrp ul , li {
  list-style: none !important;
  display: inline;
  letter-spacing: 0.1rem;
  
}
.dtbutton{
  display: inline-flex;
  border: solid 2px rgb(0, 0, 0);
  padding: 7px;
  color: black;
  transition: ease-in-out 100ms;
  list-style: none ;
  border-radius: 5px;
  font-weight: 600;
}

.downimg{
  width: 25px;
  height: 25px;
}

#btngrp{
  position: absolute;
  bottom: -100px;
  left: 20px;
}
#git{
  margin-right: 20px;
  position: relative;
  right: 32px;
}

.dtbutton:hover{
    transform: 100ms;
    transform: scale(1.1);
    border-radius: 2px;
    color: #000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.567);
    background-color: rgba(226, 231, 246, 0.72);   
  }

#homebutpc{
     display: flex;
     position: fixed;
     bottom: 100px;
     right: 70px;
     z-index: 6; 
     color: black !important;
}
#homebutpc .icon-100{ 
  color: black;
}

#homebutmobile{
  display: none;
}

#aboutanc{
    width: 100%;
    height: 100px;
    backdrop-filter: blur(2px);
    position: relative;
    z-index: 1;
}

   
   #about{
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 2;
    backdrop-filter: blur(2px);
    transition: top 0.5s;
    position: relative;
    animation-name: slide-top;
    scroll-behavior: smooth;

}

#abt{
    font-size: 40px;
    position: relative;
}

#abtp{
    position: relative;
    top: 60px;
    font-size: 15px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 3;
    background-color: #0000001e;
    padding: 20px;
}


#expanc{
    width: 100%;
    height: 100px;
    background-color: rgba(11, 11, 11, 0);
    backdrop-filter: blur(2px);
    position: relative;
    z-index: 1;
}
#experience{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgba(11, 11, 11, 0);
    justify-content: center;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(2px);
    z-index: 2;
    scroll-behavior: smooth;

}
#exp{
    font-size: 40px;
    position: relative;
    top: 10px;
}
.ewrap{
    width:85% ;
}

#expcontent{
    position: relative;
    top:60px;
    line-height: 2;  
    border-left: 2px solid black;
    height: 500px;
    padding-left: 20px;
    background-color: #0000001e;
    scroll-behavior: smooth;


}
#exptitle{
    border-bottom: 2px solid black;
}
#exptime{
    position: relative;
    top:10px; 
}
#exphead{
    position: relative;
    top:20px; 
}
#expskill{
    position: relative;
    top:40px; 
    text-align: left;
}
.sktitle{
    font-weight: 700;
}
#expertise{
    position: relative;
    top: 40px;
}



#skillanc{
    width: 100%;
    height: 120px;
    background-color: rgba(11, 11, 11, 0);
    backdrop-filter: blur(2px);
    position: relative;
    z-index: 1;
}

#skills{
    height: 140vh;
    width: 100%;
    display: flex;
    background-color: rgba(11, 11, 11, 0);
    color: rgb(0, 0, 0);
    backdrop-filter: blur(2px);
    justify-content: center;
    z-index: 3;
    scroll-behavior: smooth;

}
.swrap{
    width:85% ;
}
#skill{
    font-size: 40px;
    position: relative;
    top: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(14,200px);
    grid-template-rows: 200px;
    grid-template-areas: "plang plang wd wd wd wd wd wd ui ui test vc vc vc"
                          "javas java html5 css3 boots nodejs reactjs wp figm pshop seli git github jira" ;
    animation: marquee 10s ease-in-out infinite;  
}
.plang{
    grid-area: plang;
    text-align: center;
    align-items: center;
}
.wd{
    grid-area: wd;
    text-align: center;
    align-items: center;

}
.ui{
    grid-area: ui;
    text-align: center;
    align-items: center;

}
.test{
    grid-area: test;
    text-align: center;
    align-items: center;


}
.vc{
    grid-area: vc;
    text-align: center;
    align-items: center;
}
.marquee{
    height: 240px;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 100px;
}

@keyframes marquee { 10% { transform: translateX(0); } 100% { transform: translateX(-110%); } }

.skimg{
    width: 100px;
    height: 100px;
}

.skillcont li{
    display: block !important;
}

.skillcont{
    position: relative;
    top: 60px;
    font-size: 20px;
}
#conform{
    width:50% ;
    position: relative;
    align-content: center;
 
}

#txta{
    width: 90px;
}
input{
    border: black solid 1px !important;
    border-radius: 0% !important;
}
input::placeholder{
    color: black !important;
    font-size: 10px;
    position: relative;
    bottom: 2px;
}

textarea::placeholder{
    color: black !important;
    font-size: 10px;
    position: relative;
    top: 10px;
}

.three{
    position: relative;
    border: 1px solid gray;
}


#projectanc{
    width: 100%;
    height: 120px;
    background-color: rgba(11, 11, 11, 0);
    backdrop-filter: blur(2px);
    position: relative;
    z-index: 1;
}


#projects{
    height: 1030px;
}
#projectinfo{
  text-align: center;
  position: relative;
  top: 220px;
}

.gridp{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-column-gap: 100px;
    grid-template-areas: "tone ttwo tthree" "one two three";
    position: relative;
    top: 100px;
    text-align: center;
}
.gricent{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
    padding: 0;
    margin: 0 !important;
}

#containerBlock{
  padding: 2px;
  width: 100%;
  height: 350px;
  display: flex;
  background-image: linear-gradient( 1801.3deg,  rgba(135,174,220,1) 1.5%, rgba(255,255,255,1) 100.3% );
  border-radius: 20px;
  box-shadow: 1px 1px 5px black;
  overflow: visible;
  justify-content: center;
}

.container_block1{
    grid-area: one; 
    position: relative;
    left: 3px;
}
.container_block2{
  grid-area: two;
}
.container_block3{
  grid-area: three;
}

#containerName{
  color: rgb(21, 34, 63);
  text-wrap: wrap;
  font-size: 1.3vw;
  position: absolute;
  bottom: -10px;
  width: 250px !important;
  height: 60px;
  text-align: center;
}
#containerImg{
  min-width: 100px;
  width: 100% !important;
  height: 55%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}

.fmBtn{
  text-align: center;
  width: 15vw;
  height: 4vh;
  color: #000;
  border-radius: 5px;
  background-color: #ffffff5c;
  position: absolute;
  bottom: 80px;
  font-size: 1.2vw;
  font-weight: 500;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}


#conform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
}

.fstick{
    display: inline;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -300px;
    background-color: transparent;
    z-index: 10;
}

#foot{
  background-color: transparent;
}
.footwrap{
    text-align: center;
    position: relative;
}
.fmail{
    position: relative;
    top: 3px;
}
.footwrap a{
      color: black;
}
@media screen and (min-width: 990px) and (max-width: 1199px){
 
  #containerBlock{
    width: 100%;
    height: 300px;
    
  }
  #containerName{
    width: 200px !important;
    height: 50px;
  }
  #containerImg{
    width: 100% !important;
    height: 50%;
  }
  .fmBtn{
   padding-top: 5px;
  }


}

@media screen and (min-width: 1000px) and (max-width: 2160px) {
  
body{
  height: 5100px;
}

 .mobilemenu{
  display: none;
 } 
.myimg{
    position: relative;
    top: 50px;
    left: 50px;
}

#btngrp{
    position: absolute;
    bottom: -200px;

}
#home , #about , #experience{
    height: 700px;
}

#abtp{
    letter-spacing: 3px;
    word-spacing: 5px;
}

#profileimageabout{
    display: none;
}

#skills{
   height: 1000px;
}



}

@media screen and (min-width: 769px) and (max-width: 1000px) {

  body{
    height: 4800px;
  }

  #projectinfo{
    position: relative;
    top: 220px;
  }

  .mobilemenu{
    display: none;
   } 

#home , #intro , #experience , .ewrap{
    height: 600px;
}
#about {
    height: 600px;
}


#menu{
    font-size: 2vh;
    justify-content: space-evenly;
    width: 500px;
}

#profileimage{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
}

.myimg{
width:175px;
height: 250px;
position: relative;
top: 50px;
left: 50px;
}

.myimg{
    position: relative;
   
}
#name1{
    font-size: 18px;
  }
  #name2{
    font-size: 30px;
  }

  .dtbutton{
    font-size: 9px;
  }
  .downimg{
    width: 15px;
    height: 15px;
  }
  #abt{
    font-size: 4vh;
  }

  #abtp{
     font-size: 1.5vh;
  }

  #exp{
    font-size: 4vh;

  }
  #expcontent{
       position: relative;
       top: 100px;
       height: 400px;
       line-height: 1;  

  }

#exptitle{
    border-bottom: 2px solid black;
    font-size: 2.5vh;
}
#exptime{
    font-size: 2vh;

}
#exphead{
    font-size: 2.5vh;

}
.expsk{
    font-size: 2.5vh;
}

#skill{
     font-size: 4vh;
}

.skillcont{
    font-size: 1.5vh;
}

#projects{
    height: 1000px;
}

#skills{
    height: 900px;
}

.gridp{
    grid-gap: 15px;
}

#profileimageabout{
    display: none;
}

#foot{
  position: relative;
  top: 400px;
}

.fmBtn{
    font-size: 1.5vh;
    padding-top: 5px;
}

#containerImg{
  height: 50%;
}

#containerBlock{
  height: 270px;
}

#containerName{
  width: 200px !important;
}

}



@media screen and (min-width: 300px) and (max-width: 768px) {

  body{
    height: 6800px;
  }

   .mobilemenu{
    display: flex;
    width: 100%;
    height: 45px;
    font-size: 5px;
    position: fixed;
    bottom: 0px;
    background-color: #b8e4ff;
    color: #000;
    z-index: 11;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-image: radial-gradient( circle farthest-corner at 3.7% 49.8%,  rgba(171, 218, 255, 0.97) 21.9%, rgba(113, 153, 255, 0.499) 52.9% );

   }

   #menu1{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 0;
    position: relative;
    top: 5px;
   }

  .navh1{
    display: flex;
    justify-content: center;
    color: #000 !important;
  }

  .navh1 i{
    font-size: 20px;
    color: black;
  }

  #menuname{
   position: fixed;
   display: flex;
   justify-content: space-around;
   width: 100%;
   z-index: 11;
   font-size: 8px;
   bottom: 30px;
  }


    #profileimageintro{
        display: none;
    }
    #menu{
        display: none;
    }

    #sticky{
        box-shadow: none;
    }

    #logo{
        width: 50px;
        height: 50px;
        position: relative;
        left: 10px;
        display: flex;  
    }
    #name2{
        font-size: 4.5vh;
    }
    #name1{
        font-size: 3vh;
    }


    .dtbutton{
        display: block;   
      }
      
      .downimg{
        width: 25px;
        height: 25px;
      }
      
      #btngrp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -150px;
      }
      #git{
        width: 100%;
        position: relative;
        top: -10px;
   
      }

      #downr{

      }

      #homebutpc{
        display: none;
      }

      #intro {
        width: 600px;
      }
      #aboutanc , #expanc ,#skillanc , #projectanc{
        display: none;
      }
      #about{
        position: relative;
        top: -100px;
        justify-content: center;
      }
      #profileimageabout{
        display: flex;
        justify-content: center;
      }
      .myimg{
      }

      #abt{
        font-size: 4vh;
        text-align: center;
        position: relative;
        bottom: 20px;
      }
      #abtp{
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 2px;
        line-height: 1.2;
        font-size: 1.6vh;
      }
      .awrap{
        width: 80% !important;
      }
      #exp{
        font-size: 4vh;
        text-align: center;
        position: relative;
      }
      #experience{
        position: relative;
        height: 700px !important;
        z-index: 1;
        top: 100px;
      }
      .ewrap{
        width: 80% !important;
        height: 700px;
        position: relative;
        top: 100px;
      }
      #exptitle{
        font-size: 2vh;
      }
      #exptime{
        font-size: 1.5vh;
      }
      #exphead{
        font-size: 2vh;
      }
      .expsk{
        font-size: 2vh;
      }
      #expcontent{
        font-size: 2vh ;
        line-height: 1!important;
        border-left: 0px !important;
      }
      #expertise{
        font-size: 1.5vh;
      }

      .ewrap{
           position: relative;
           bottom: 40px;
      }
      #skill{
        font-size: 4vh;
        text-align: center;
        z-index: 3;
        position: relative;
        top: 100px;
      }
      .marquee{
        position: relative;
        top: 170px;
        height: 140px;
        width: 100%;
        overflow: hidden;
      
      }
      .grid{
        display: grid;
        grid-template-columns: repeat(14,100px);
        grid-template-rows: 100px;
        grid-template-areas: "plang plang wd wd wd wd wd wd ui ui test vc vc vc"
                              "javas java html5 css3 boots nodejs reactjs wp figm pshop seli git github jira" ;
        animation: marquee 10s ease-in-out infinite; 
        grid-gap: 15px; 
    }

    @keyframes marquee { 10% { transform: translateX(0); } 100% { transform: translateX(-430%); } }

      .skimg{
        width: 70px;
        height: 70px;
      }
      .skillcont{
        position: relative;
        top: 160px !important;
        font-size: 1.8vh !important;

      }
     
      .swrap{
        width: 85% !important;
        position: relative;
        top: 200px;
      }

     #projects{
      display: flex;
        flex-direction: row;
        position: relative;
        top: 490px;
        text-align: center;
        height: 2000px;
     }

     #projectinfo{
      padding: 0;
      width: 300px;
      position: relative;
      top: 150px;
    }

     .gridp{
        text-align: center;
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: repeat(350px, 1fr);
        grid-template-areas: "tone" "one" "ttwo" "two" "tthree" "three" ;
        position: relative;
        margin: 20px;
        text-align: center;
        top: 100px;
        left: 5px;
        overflow: visible; 
        grid-row-gap: 50px;
        
    }

    #containerBlock{
     overflow: visible;
    }

    .gridp h4{
          display: flex;
          justify-content: center;
          position: relative;
          left: 15px;
    } 

    .container_block1 , .container_block2 , .container_block3{
        position: relative;
              width: 300px;
              height: 180px;
    }
    .gricent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        position: relative;
        top: -100px;
        overflow: visible;
    }

    .tone,.ttwo,.tthree{
        text-align: center;
        position: relative;
        left: -20px;
    }

    .container_name1,.container_name2,.container_name3{
        position: absolute;
        bottom: -40px;
        font-size: 1.8vh;
    }
    
    .fmail{
        font-size: 1vh !important;
    }


    footer{
        position: relative;
        top: 1000px;  
    }

    .tone{
          position: relative;
          top: 50px;
    }


    #homebutmobile{
      display: flex;
      position: fixed;
      top: 40px;
      right: 40px;
      z-index: 6; 
      color: black !important;
 } 


 #conform{
  width: 300px !important;
 }

 #containerBlock{
  height: 400px;
    
}
.container_block1{
  position: relative;
  left: 0px;
  text-align: center;
}

 .fmBtn{
    height: 25px;
    width: 200px;
    font-size: 15px;
 }

 #containerName{
  font-size: 1.9vh;
  position: absolute;
  bottom: -15px;
 
 }




}


/* Trendy text styling */
.trendy-text {
  width: 300px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white; /* Text color */
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  animation: slideIn 1.5s ease-out, textGlow 1.5s ease-in-out infinite alternate;
  cursor: pointer;
}



/* Container for the text */
.conta {
  text-align: center;
}

/* Trendy text styling with animation */
.trendy-text {
  font-size: 24px;
  font-weight: 600;
  color: #2c3e50;
  position: relative;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards, slideUp 1s ease-out forwards;
  transform: translateY(20px);
  max-width: 80%;
  margin: 0 auto;
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Keyframes for slideUp animation */
@keyframes slideUp {
  0% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(0);
  }
}

